target/dependencies.txt
target/classes/cn/iota/jiot/serialization/SerializeMapper.class
target/classes/cn/iota/jiot/serialization/SerializeMapper$DefaultDeserializationContext.class
target/classes/cn/iota/jiot/serialization/SerializeMapper$DefaultSerializationContext.class
target/classes/cn/iota/jiot/serialization/Serializer.class
target/classes/cn/iota/jiot/serialization/deserialize/AbstractFieldDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/BitDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/ByteDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/ContextualFieldDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/DeserializationContext.class
target/classes/cn/iota/jiot/serialization/deserialize/DeserializationContext$DeserializationEntry.class
target/classes/cn/iota/jiot/serialization/deserialize/FieldDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/IntDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/IntegerTypeFieldDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/LongDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/ObjectArrayDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/ObjectDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/PrimitiveArrayDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/PrimitiveListDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/ShortDeserializer.class
target/classes/cn/iota/jiot/serialization/deserialize/StringDeserializer.class
target/classes/cn/iota/jiot/serialization/exception/MissingAnnotationException.class
target/classes/cn/iota/jiot/serialization/exception/SerializeException.class
target/classes/cn/iota/jiot/serialization/meta/ByteOrder.class
target/classes/cn/iota/jiot/serialization/meta/PadPosition.class
target/classes/cn/iota/jiot/serialization/meta/SerializeAnnotation.class
target/classes/cn/iota/jiot/serialization/meta/SerializeArrayOrListLength.class
target/classes/cn/iota/jiot/serialization/meta/SerializeBCDCodeField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeBitField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeByteField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeCharField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeFieldOrder.class
target/classes/cn/iota/jiot/serialization/meta/SerializeFloatField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeFloatToIntegerField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeIntegerField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeIntField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeLongField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeProcessor.class
target/classes/cn/iota/jiot/serialization/meta/SerializeShortField.class
target/classes/cn/iota/jiot/serialization/meta/SerializeStringField.class
target/classes/cn/iota/jiot/serialization/reflect/ReflectionUtil.class
target/classes/cn/iota/jiot/serialization/serialize/AbstractFieldSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/BCDCodeSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/BitSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/ByteSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/ContextualFieldSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/FieldSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/IntegerTypeFieldSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/IntSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/LongSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/ObjectArraySerializer.class
target/classes/cn/iota/jiot/serialization/serialize/ObjectSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/PrimitiveArraySerializer.class
target/classes/cn/iota/jiot/serialization/serialize/PrimitiveListSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/SerializationContext.class
target/classes/cn/iota/jiot/serialization/serialize/SerializationContext$SerializationEntry.class
target/classes/cn/iota/jiot/serialization/serialize/ShortSerializer.class
target/classes/cn/iota/jiot/serialization/serialize/StringSerializer.class
target/classes/cn/iota/jiot/serialization/util/SerializerFactory.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/2023-03-19T14-33-41_195-jvmRun1.dump
target/surefire-reports/2023-03-19T14-33-41_195-jvmRun1.dumpstream
target/surefire-reports/2023-03-19T14-36-04_244-jvmRun1.dump
target/surefire-reports/2023-03-19T14-36-04_244-jvmRun1.dumpstream
target/surefire-reports/cn.iota.jiot.atn.protocol.AtnAddressTest.txt
target/surefire-reports/cn.iota.jiot.atn.server.AtnServerTest.txt
target/surefire-reports/TEST-cn.iota.jiot.atn.protocol.AtnAddressTest.xml
target/surefire-reports/TEST-cn.iota.jiot.atn.server.AtnServerTest.xml
target/test-classes/cn/iota/jiot/serialization/SerializerMapperTest.class
target/test-classes/cn/iota/jiot/serialization/deserialize/BitFieldDeserializerTest.class
target/test-classes/cn/iota/jiot/serialization/deserialize/ByteFieldDeserializerTest.class
target/test-classes/cn/iota/jiot/serialization/mock/BitAndByteClass.class
target/test-classes/cn/iota/jiot/serialization/mock/BitClass.class
target/test-classes/cn/iota/jiot/serialization/mock/ByteArrayClass.class
target/test-classes/cn/iota/jiot/serialization/mock/ByteClass.class
target/test-classes/cn/iota/jiot/serialization/mock/ByteListClass.class
target/test-classes/cn/iota/jiot/serialization/mock/ShortArrayClass.class
target/test-classes/cn/iota/jiot/serialization/mock/ShortClass.class
target/test-classes/cn/iota/jiot/serialization/mock/StringArrayClass.class
target/test-classes/cn/iota/jiot/serialization/mock/StringClass.class
target/test-classes/cn/iota/jiot/serialization/mock/StringListClass.class
target/test-classes/cn/iota/jiot/serialization/mock/SubByteClass.class
target/test-classes/cn/iota/jiot/serialization/reflect/ListField.class
target/test-classes/cn/iota/jiot/serialization/reflect/NoFieldClass.class
target/test-classes/cn/iota/jiot/serialization/reflect/OrderedFieldsClass.class
target/test-classes/cn/iota/jiot/serialization/reflect/OrderedFieldsInsideClass.class
target/test-classes/cn/iota/jiot/serialization/reflect/ReflectionUtilTest.class
target/test-classes/cn/iota/jiot/serialization/reflect/SeveralFieldsClass.class
target/test-classes/cn/iota/jiot/serialization/serialize/BitFieldSerializerTest.class
target/test-classes/cn/iota/jiot/serialization/serialize/ByteFieldSerializerTest.class
target/test-classes/cn/iota/jiot/serialization/serialize/ShortFieldSerializerTest.class
target/test-classes/cn/iota/jiot/serialization/serialize/StringFieldSerializerTest.class
